.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#navbar-placeholder a.active {
    color: rgb(29 78 216);
    font-weight: 700;
}
